.CompliteButton{
    background: #6b65e0;
    display: flex;
    border: 5px solid rgba(0,0,0,0.05);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 28px;
    color: whitesmoke;
    height: 25%;
    min-width: 25%;
}

.CompliteButton:hover{
    background: #7e7acc;
    cursor: default;
}