.Display{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #6b65e0;
    height: 30%;
    color: black;
    font-size: 40px;
}

.message{
    margin-left: 2000px;
}